node_modules
uploads
public/uploads
public/testimages
public/css/main.css
database/build.sql
test/images/dest
build
temp
obj
.vs
.vscode
.ntvs_analysis.dat
npm-debug.log
coverage
tools
log
newrelic_agent.log
