extends includes/layout.pug

block main-content
  div
    h1 Tungkol sa Liham.ph
    p Ang lumikha ng liham.ph ay ang pangkat ng mga programmer mula sa Fortcode Inc.

    p Itong proyekto ay napapabilang sa <strong>descouvre project</strong> kasama ng Wanderast.

    p Kung ikaw ay may pagka-gusto sa pagsusulat at paglalakbay, maari naman kayong lumikha ng iyong blog ng walang bayad sa  
      a(href="https://wanderast.com" title="Wanderast")= "Wanderast"
      |  isang lugar para mga manlalakbay.

    p Kung may nakita kayong suliranin o paksa tungkol sa liham.ph, marapating magsulat ng sulatroniko sa 
      a(href="mailto:support@descouvre.com" title="Support") support@descouvre.com
