extends includes/layout.pug

block main-content
  h2 Tungkol sa Liham.ph
  p Ang lumikha ng <strong>liham.ph</strong> ay ang pangkat ng mga programmer mula sa 
    | Fortcode Inc. na bumuo ng <a href="https://wanderast.com">Wanderast</a> 
    | kasama ang UST Startup Community.

  p Kung may nakita kayong suliranin o paksa tungkol sa liham.ph, marapating magsulat ng sulatroniko sa 
    a(href="mailto:support@descouvre.com" title="Support") support@descouvre.com

  h4 Mga Tumulong sa Pagbubuo ng Liham.ph
  ul
    li Kenneth Bastian (Fortcode)
    li Mikko Dimapasoc (UST Startup)
    li Xyza Rivera (UST Startup)
