extends includes/layout.pug

block main-content
  h2 Magbasa ng mga liham

  each topic, index in searchResult.topics
    div.topic
      div.topic-item
        div.topic-index 📧
        div.topic-content
          a(href="/posting/" + topic.id)= topic.title
          div
            small.help
              span= "inilatha ni "
              a(href="/user/" + topic.author.username)= topic.author.username
              span= utils.convertFromNowToFilipino(topic.createdDate.fromNow())
  .pagination
    if options.page > 1
      a(href="/?page=" + (options.page - 1)) ◀ mga naunang pahina
    if searchResult.totalCount > (options.limit * options.page)
      a(href="/?page=" + (options.page + 1)) susunod na pahina ▶
    
