extends includes/layout.pug

include mixins/topicItemMixin.pug

block main-content
  h2 Magbasa ng mga liham

  each topic, index in searchResult.topics
    +renderTopicItem(topic)

  .pagination
    if options.page > 1
      a(href="/?page=" + (options.page - 1)) ◀ mga naunang pahina
    if searchResult.totalCount > (options.limit * options.page)
      a(href="/?page=" + (options.page + 1)) susunod na pahina ▶
    
