extends includes/layout.pug

block main-content
  h2 Paumanhin sapagkat hindi namin matagpuan ang iyong liham.
  p= message || "Paumanhin sa aming pagkakamali, maaring magtala ng mensahe sa support@descouvre.com"
