extends includes/layout.pug

block main-content
  div
    h2= profile.username
    if profile.aboutMe
      div
        p!= profile.aboutMe.replace(/\n/g, '</br>')
    p.grey-text= "Itong sagisag ay naitatag " + utils.convertFromNowToFilipino(profile.createdDate.fromNow())
    if user.id === profile.id
      a(href="/user/settings") baguhin ang sarili
