extends includes/layout.pug

block main-content
  div
    h2 Sumali sa Mga Liham na Iniwan
    p Maari lamang isulat sa mga kahon sa baba ang nararapat.
    if alert && alert.length > 0
      .alert(class=alert[0].status)
        p= alert[0].message
    form(method="POST" action="/register")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-group
        label(for="username") Payak na Pangalan (username)
        input.form-control(type="text" name="username" value="")
      .form-group
        label(for="password") Lihim na Salita (password)
        input.form-control(type="password" name="password" value="")
      .form-group
        button.btn(type="submit") Itala ang rehistrasyon
