extends includes/layout.pug

block main-content
  h1 Mga Palatuntunan sa Liham.ph
  p Ang liham.ph ay binuo para sa pagpupugay ng wikang Filipino. 
    | Dito sa lugar na ito ay hindi pinapayagan ang pangungutya, pang-aabuso at 
    | pang-mamaliit ng mga liham. Tayong lahat dio ay pawang mga manunulat na nag-iiwan 
    | ng ating mga damdamin sa pamamagitan ng pagsusulat gamit ang ating sariling wika.

  h4 Para isulat ang liham, siguraduhin na sundin ang mga patakaran na ito:
  ul
    li 
      <strong> Gamitin ng wasto at nararapat ang wikang Filipino.</strong> 
      | Ang hindi pag-gamit ng wastong Filipino ay hindi pagsunod sa palatuntunan ng liham.ph. Ang aming layunin ay mapalaganap ang kahulugan, kasaysayan at ang natatanging kagandahan ng wikang Filipino"
    li Kung hindi maiiwasan gamitin ang wikang banyaga, papayagan ito kung karamihan ng salita ay nasa wikang Filipino
    li Ang liham ay pwedeng isang linya o higit pa. Basta ang nanaig ay ang damdamin sa iyong liham, maari itong iiwan para mabasa nga mga tao.

  h4 Mga Pinagbabawal sa liham.ph
  ol
    li Lahat ng hindi tungkol sa pagiging makata o wikang Filipino
    li Mga pinagbabawal sa batas
    li Mga kabastusan
    li Mga pang-aabuso sa mga manunulat
    li Mga natatanging kaalaman na tungkol sa iyo
    li Mga panloloko sa mga manunulat
    li Mga plahiyo o plagiarism sa wikang Ingles.
    li Spam
