extends includes/layout.pug

block main-content
  div
    h1 Palatuntunan
    p Ang Liham na Iniwan ay binuo para sa pagpupugay sa wikang Filipino. 
      | Dito sa lugar na ito ay hindi pinapayagan ang pangungutya, pang-aabuso at 
      | pagmamaliit ng mga liham. Tayong lahat dio ay pawang mga manunulat na nag-iiwan 
      | ng ating mga damdamin sa pamamagitan ng pagsusulat gamit ang ating sariling wika.
    h4 Para isulat ang liham, siguraduhin na sundin ang mga patakaran:
    ol
      li Gamitin ang wikang Filipino sa iyong liham
      li Kung hindi maiiwasan gamitin ang wikang banyaga, basta't maisulat na karamihan ay nasa wikang Filipino
      li Ang liham ay pwedeng isang linya o higit pa. Basta't ang iyong damdamin ang pinapa-iral sa iyong liham.

    p Ang bawal na liham ay ang mga sumusunod:
    h4 Mga pinagbabawal sa Liham na Iniwan
    ol
      li Lahat ng hindi angkop sa mga makata
      li Mga pinagbabawal ng batas
      li Mga kabastusan
      li Mga pang-aabuso sa mga manunulat
      li Mga natatanging kaalaman na tungkol sa iyo
      li Mga panloloko sa mga manunulat
      li Spam
