extends includes/layout.pug

block main-content
  div
    h1 Rules
    p Kronowork is built so that tech people can find work relevant to their career.
      | All users are anonymous by default unless the poster says his identity and background.
      | Make sure to keep in mind to show respect for your potential employer or your future employees.
    h4 For posters, make sure that your job postings must answer the four minimum questions:
    ol
      li What is the level of the job?
      li What are the requirements to enter the job?
      li What do we expect when we got the job?
      li How do we apply for the job?

    p Users are only allowed to post about technical jobs such as site reliability engineers, project managers and web developers.
    h4 Prohibited Content
    ol
      li All unrelated posts to jobs
      li Anything that points into any illegal activities
      li Pornography
      li Threatens, harasses, or bullies or encourages others to do so
      li Personal and confidential information
      li Impersonates someone in a misleading or deceptive manner
      li Spam
