a {
  color: #0D47A1;
}
a:active, a:hover, a:visited {
  color: #5C6BC0;
}

body {
  font-size: 1.24rem;
  font-family: 'Crimson Text', 'Times New Roman', serif;
}

.normal-text {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
small.normal-text {
  font-size: 0.86rem;
}

.form-control, .btn {
  font-size: 1.02em;
}

.upvote-heart {
  cursor: pointer;
}
