.grey-text {
  color: #757575;
}

.topic {
  display: block;
  margin-bottom: 12px;
}
.topic-item {
  display: inline-flex;
}
.topic-index {
  margin-right: 8px;
  font-weight: 700;
}

.help span, .help a {
  display: inline-flex;
  margin-right: 5px;
}
.brand {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.footer-brand {
  display: flex;
}

.comments .comment {
  margin-left: 15px;
}

.pagination {
  margin-top: 20px;
}
.pagination a {
  margin-right: 8px;
}
.pagination a:last-child {
  margin-right: 0;
}

.upvote-heart {
  cursor: pointer;
}