extends ../includes/layout.pug

block main-content
  h2 Paumanhin. Ang aming server ay nagkaroon ng suliranin.

  if verbose
    p= error.message
    p= error.stack
  else
    p Huwag mag-aalala sapagkat ang aming mga inhinyero ang iniimbestigahan na ang ugat ng suliranin.
