.container
  navbar.navbar
    a.nav-link(href="/") magbasa
    a.nav-link(href="/search") maghanap
    if user && user.id
      a.nav-link(href="/submit") sumulat
      a.nav-link(href="/user/" + user.username)= user.username
      a.nav-link(href="/logout") umalis
    else
      a.nav-link(href="/login") pumasok
      a.nav-link(href="/register") sumali
